{{define "down"}}
</div>
<div class="col-lg-3 aside-right rounded-top ps-3 pe-0">
    {{template "aside-right" .}}
</div>
</div>
</div>
{{template "footer" .}}
</div>
<script>
    window.GLOBAL_CONST_GMERO = {
        ASSETS_CDN: "{{.SITE.seo_cdn}}",

        GITHUB_CLIENT_ID: "{{.SITE.admin_github_client_id}}"
    }
</script>

<!-- 外部依赖js -->
<script src="{{.SITE.seo_cdn}}/theme/justy/assets/lib/tippy/tippy.min.js"></script>
<!-- 核心js -->
<script src="{{.SITE.seo_cdn}}/theme/justy/assets/js/index.min.js"></script>

</body>

</html>
{{end}}