{{define "down"}}
</div>
<div class="col-lg-3 aside-right rounded-top ps-3 pe-0">
    {{template "aside-right" .}}
</div>
</div>
</div>
{{template "footer" .}}
</div>
<!-- 前置JS -->
<script>
    window.GLOBAL_CONST_GMERO = {
        ASSETS_CDN: "{{THEME `base_cdn`}}",

        GITHUB_CLIENT_ID: "{{SET `admin_github_client_id`}}"
    }
</script>

<!-- 外部依赖js -->
<script src="{{THEME `base_cdn`}}/theme/justy/assets/lib/tippy/tippy.min.js"></script>
<!-- 核心js -->
<script src="{{THEME `base_cdn`}}/theme/justy/assets/js/index.min.js"></script>

<!-- 后置JS -->
<script>
    // 处理serviceWorker
    const regServiceWorker = (bool = false) => {
        if ('serviceWorker' in navigator) {
            if (bool) {
                navigator.serviceWorker.register('/service-worker.js')
            } else {
                navigator.serviceWorker.getRegistrations().then((regs) => {
                    regs.forEach((reg) => {
                        reg
                            .unregister()
                            .then(() => {
                                Qmsg.success(`SW注销成功`)
                            })
                            .catch((res) => {
                                Qmsg.error(`SW注销失败, 您可以手动注销。(${res})`)
                            })
                    })
                })
            }
        }
    }

    regServiceWorker("{{THEME `base_enable_sw`}}" === "1")
</script>

</body>

</html>
{{end}}