{{ define "header" }}
<div class="container-xl fixed-top">
  <nav class="navbar navbar-light p-0 shadow-sm bg-main-color rounded-bottom">
    <a href="#" class="navbar-brand text-lt ps-2">
      <img src="{{.SITE.site_logo}}" alt="" style="width:175px;" />
    </a>
    <div class="else"></div>
  </nav>
  <div id="loading" class="w-100 invisible">
    <span class="bar"></span>
  </div>
</div>
{{ end }}