{{define "down"}}
</div>
<div class="col-lg-3 aside-right rounded-top ps-3 pe-0">
    {{template "aside-right" .}}
</div>
</div>
</div>
{{template "footer"}}
</div>
<!-- 核心js -->
<script src="/assets/js/index.min.js"></script>

</body>

</html>
{{end}}